* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
}

/* Common */
.row::after {
    content: "";
    display: block;
    clear: both;
}

.text-white {
    color: white !important;
}

.content-heading {
    padding-bottom: 8px;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.content-sub-heading {
    text-align: center;
    padding-bottom: 16px;
    font-style: italic;
    color: rgba(0,0,0,0.5);
}

.padding-left-right {
    padding-left: 64px !important;
    padding-right: 64px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col-third {
    width: calc(100%/3);
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

/* Header */
#header {
    width: 100%;
    height: 48px;
    background-color: #000;
}

#header .nav {

}

#header .nav-content {

}

#header .nav-content li:hover > a {
    color: #000;
    background-color: #ccc;
}


#header .nav-content > li {
    display: inline-block;
    position: relative;
    line-height: 48px;
    font-size: 16px;
    text-transform: uppercase;
}

#header .nav-content li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 16px;
    width: 100%;
}

#header .nav-header-more {
    display: none;
    position: absolute;
    left: 0px;
    width: 148px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

#header #nav-show-more:hover ul {
    display: block;
}

#header .nav-icon-search {
    padding: 16px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    height: 48px;
    width: 48px;
}

#header .nav-icon-search:hover {
    color: #fff;
    background-color: red;
    cursor: pointer;
}

/* Container */
#container {

}

/* Slider */
#container #slider {
   height: 100%;
   /* background-image: url('/assets/img/slider/slider1.jpg');  */
   background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
   position: relative;
   padding-top: 36%;
}

#container #slider .slider-text > h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 550;
}

#container #slider .slider-text > p {
    text-align: center;
    padding: 8px 0px 32px;
}

#container .slider-text {
    padding: 32px 0px;
}

/* Band */
#container #band{
    padding: 64px;
}

#container #band .band-content {
    text-align: justify;
}

#container #band .list-band-member {

}


#container #band .band-member-img {

}


/* Footer */
#footer {

}
